body {
  background-color: #dae9f0;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #fc7878;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
  color: #407088;
}

.form-container {
  padding: 30px;
  background-color: #ffb5b5;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 15px 20px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.8;
  font-size: 12px;
  padding-left: 17px;
  color: #407088;
}

.instructions {
  color: #407088;
  padding: 16px;
  border: 1px solid #407088;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  background-color: #fcecec;
}

.submit-button {
  margin-left: 10px;
  background: #fc7878;
  font-size: 16px;
  color: white;
  width: 150px;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: #fcecec;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #fc7878;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.hidden {
  display: none;
}

.poem strong {
  color: #fc7878;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
}
